<div class="container">
  <div class="row">
    <div class="mb-2 mt-3">
    <span class="font-weight-bold">登録情報</span>
    <%= link_to "編集する", information_path, class:"btn btn-sm btn-outline-success" %>
  </div>
  </div>

  <div class="row col-8">
    <table class="table table-bordered mx-3" >
      <col span="1" bgcolor= "#f8fbf8" >
      <tbody>
          <th width="30%">氏名</th>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address%></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email%></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mb-2">
    <span class="font-weight-bold">配送先</span>
    <%= link_to "一覧を見る ", addresses_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>
  <div class="mb-2">
    <span class="font-weight-bold">注文履歴</span>
    <%= link_to "一覧を見る ", order_details_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>

</div>