

<div class="container">
  <div class="mb-2">
    <span class="font-weight-bold">登録情報</span>
    <%= link_to "編集する", edit_customer_path(@customer.id), class:"btn btn-sm btn-success" %>
  </div>

  <table class="table table-bordered my-3" >
    <col span="1" bgcolor="#14FFD4" >
    <tbody>
      <tr>
        <th>氏名</th>
        <td><%= @customer.full_name %></td>
      </tr>
      <tr>
        <th>カナ</th>
        <td><%= @customer.full_name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @customer.post_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address%></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email%></td>
      </tr>
    </tbody>
  </table>
  <div class="mb-2">
    <span class="font-weight-bold">配送先</span>
    <%= link_to "一覧を見る ", root_path, class:"btn btn-sm btn-primary" %>
  </div>
  <div class="mb-2">
    <span class="font-weight-bold">注文履歴</span>
    <%= link_to "一覧を見る ", root_path, class:"btn btn-sm btn-primary" %>
  </div>

</div>
