<div class="container my-5">
  <div class="row">

    <div class="col-3">
      <%= render "public/genres/list", genre: @genre, genres: @genres %>
    </div>

    <div class="col-9">
      <% if @products.exists? %>
        <h3 class="mb-3 font-weight-bold">
          【<%= @genre.name%>】一覧 (全 <%= @count_products%>件)
        </h3>
        <%= render "index", products: @products %>
      <%else%>
        <h4 class="mb-3 font-weight-bold">このジャンルの商品はございません</h4>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <%= paginate @genre_paginate %>
  </div>
</div>