<div>
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #640125;"></i>
  <% end %>
</div>
<div class="container mb-5 mt-3">
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-8 mt-5">
      <%= render "public/genres/list", genres: @genres %>
    </div>

    <div class="col-lg-9 col-md-6">
      <h3 class="mb-3 font-weight-bold">
        商品一覧 (全 <%= @count_products%>件)
      </h3>
      <%= render "index", products: @products %>
    </div>

  </div>
  <div class="row d-flex justify-content-center mt-5">
    <%= paginate @products %>
  </div>
</div>