<div class="main_contents">
 <div class="row">
   <div class="col-sm-2 offset-1">
      <table class="table" border="1">
        <thead>
          <tr align="center">
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
         <tbody>
           <tr>
             <td><%= genre.name %></td>
           </tr>
         </tbody>
        <% end %>
      </table>
   </div>
   <div class="col-md-8 offset-md-1">
      <div class="mt-5">
        <p>
         ようこそ、ながのCAKEへ！</br>
         このサイトは、ケーキ販売のECサイトになります。</br>
         会員でない方も商品の閲覧はできますが、</br>
         購入には会員登録が必要になります。
        </p>
    </div>
    <h3>新着商品</h3>
    <div class="row">
      <%= @products.each do |product| %>
       <div class="col-md-3　p-1 m-1">
         <%= link_to about_path do %>
           <%= image_tag product.get_image(100,100) %>
           <%= product.name %><br>
           <%= product.price %><br>
         <% end %>
       </div>
      <% end %>
       <%= link_to "全ての商品を見る >", about_path, class: "d-flex justify-content-end" %>
    </div>
   </div>
 </div>
</div>
