<div class="main_contents">
 <div class="row">
   <div class="col-sm-2 offset-1">
      <table class="table" border="1">
        <thead>
          <tr align="center">
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
         <tbody>
           <tr>
             <td><%= genre.name %></td>
           </tr>
         </tbody>
        <% end %>
      </table>
   </div>
  <div class="container height">
   <div class="col-md-8 offset-md-1">
      <div class="mt-5">
        <p>
         ようこそ、ながのCAKEへ！</br>
         このサイトは、ケーキ販売のECサイトになります。</br>
         会員でない方も商品の閲覧はできますが、</br>
         購入には会員登録が必要になります。
        </p>
    </div>
    <div class="row">
      <div class="col-sm-3 offset-1">
       <h3>新着商品</h3>
      </div>
    </div>
    <div class="row row-cols-4">
      <%= @products.each do |product| %>
       <div>
         <%= link_to product_path(product.id) do %>
           <%= image_tag product.get_image(160,120) %><br>
           <%= product.name %><br>
           <%= number_to_currency(product.with_tax_price, unit: "¥", format: "%u %n", precision: 0 ) %><br>
         <% end %>
       </div>
      <% end %>
      <div class="offset-7">
       <%= link_to "全ての商品を見る >", products_path, class: "d-flex justify-content-end" %>
      </div>
    </div>
   </div>
  </div>
 </div>
</div>
