<div class="col-4 mt-3">
  <h2>新規会員登録</h2>
</div>

<div class="container">
  <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <div class="row mb-3">
      <%= f.label "氏名", class: "col-2"%>
      <%= f.label :last_name, "（性）", class:"col-1" %>
      <%= f.text_field :last_name, placeholder: "令和", autofocus: true, required: true %>
      <%= f.label :first_name, "（名）" %>
      <%= f.text_field :first_name, placeholder: "道子", autofocus: true, required: true %>
    </div>
    <div class="row mb-3">
      <%= f.label "フリガナ", class: "col-2" %>
      <%= f.label :last_name_kana, "（セイ）", class: "col-1" %>
      <%= f.text_field :last_name_kana, placeholder: "レイワ", autofocus: true, required: true %>
      <%= f.label :first_name_kana, "（メイ）" %>
      <%= f.text_field :first_name_kana, placeholder: "ミチコ", autofocus: true, required: true %>
    </div>


    <div class="row mb-3">
      <%= f.label :post_code, "郵便番号", class: "col-3"%>
      <%= f.text_field :post_code, placeholder: "0000000", autofocus: true, autocomplete: "post_code", class: "col-2" %>
    </div>

    <div class="row mb-3">
      <%= f.label :address, "住所", class: "col-3" %>
      <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", autofocus: true, autocomplete: "address", class: "col-6" %>
    </div>

    <div class="row mb-3">
      <%= f.label :phone_number, "電話番号", class: "col-3" %>
      <%= f.text_field :phone_number, placeholder: "00000000000", autofocus: true, autocomplete: "phone_number", class: "col-2" %>
    </div>

    <div class="row mb-3">
      <%= f.label :email , "メールアドレス", class: "col-3"%>
      <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", class: "col-5" %>
    </div>

    <div class="row mb-3">
      <%= f.label :password, "パスワード(6文字以上)", class: "col-3" %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="row mb-3">
      <%= f.label :password_confirmation ,"パスワード(確認用)", class: "col-3" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <div class="mb-3">
        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-outline-success"%>
        </div>
      </div>

    <% end %>

    <div>既に登録済みの方</div>
      <%= render "public/shared/links"%>からログインしてください。
</div>



