<div class="container">
  <h3>商品一覧</h3>

  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td>
            <%= link_to product.name, admin_product_path(product.id) %>
          </td>
          <td><%= product.price %></td>
          <td><%= product.genre.name %></td>
          <td class="font-weight-bold">
            <% if product.is_available %>
              <p class="text-success">販売中</p>
            <% else %>
              <p class="text-secondary">販売停止中</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @products %>
  </div>
  
</div>