<div class="container p-5">
  
  <div class="row ml-5 pl-5">
    <h5>商品一覧</h5>
  </div>

  <div class="row mt-3">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td>
              <%= link_to product.name, admin_product_path(product.id) %>
            </td>
            <td><%= number_to_currency(product.with_tax_price, unit: "¥", format: "%u %n", precision: 0 ) %></td>
            <td><%= product.genre.name %></td>
            <td class="font-weight-bold">
              <% if product.is_available %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-secondary">販売停止中</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="row d-flex justify-content-center">
    <%= paginate @products %>
  </div>
  
</div>