<div class="container mt-5">
  
  <div class="row font-weight-bold ml-5 pl-5">
    <h5>商品詳細</h5>
  </div>
  
  
  <div class="row p-5">
    <div class="col-lg-3 mr-3">
      <%=image_tag @product.get_image(300, 300) %>
    </div>
    
    <div class="col-lg-6 offset-lg-1">
      <table class="table table-borderless">
        <tr>
          <th>商品名</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @product.detail %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格<br>（税抜価格）</th>
          <td><%= @product.with_tax_price.to_s(:delimited) %> (<%= @product.price.to_s(:delimited) %>) 円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td class="font-weight-bold">
            <% if @product.is_available %>
              <p class="text-success">販売中</p>
            <% else %>
              <p class="text-secondary">販売停止中</p>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="row d-flex justify-content-center">
        <%= link_to "編集する", edit_admin_product_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
  
  

</div>
