<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5c06f61b2d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  </head>

  <body>

    <%= link_to   destroy_customer_session_path, method: :delete, class: "nav-link" do %>
     <i class= "fas fa-sign-out-alt"></i>ログアウト
    <% end %>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <footer>
      <div class="p-3 mb-2 bg-dark text-white">
        <P></P>
      </div>
    </footer>

  </body>
</html>
